.roxanatech-hero-section {
  @apply bg-white;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0; 
    left: 0;
    background: #cff1e4;
    background: -webkit-linear-gradient(top,#cff1e4 0%,#fff 100%);
    background: linear-gradient(to bottom,#cff1e4 0%,#fff 100%);
    // background: linear-gradient(rgb(56, 189, 248), rgb(186, 230, 253))
  }
  .roxanatech-hero {
    @apply bg-white w-full mx-auto md:max-w-[750px] lg:max-w-[970px] xl:max-w-[1170px] 2xl:max-w-[1500px];
    &-container {
      @apply flex flex-col items-center h-full pt-10 pb-[70px] px-0 md:flex-row;
      .roxanatech-hero-content {
        @apply md:w-[45%] md:mr-[5px]
      }
      .roxanatech-hero-image {
        & {
          @apply relative mt-4 md:mt-0 md:w-[55%]
        }
         .hero-image-left {
          top: -10px;
          position: absolute;
          -webkit-animation: left-image-bounce 3s ease-in-out infinite;
          animation: left-image-bounce 3s ease-in-out infinite;
          & {
            @apply w-20 md:w-[120px];
          }
        }
      }
    }
  }
}
@keyframes left-image-bounce {
  0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); } 
}
