.roxanatech-featured-products {
  // padding-top: 90px;
  &__container {
    @apply w-full mx-auto px-4;
    // @apply w-full mx-auto px-4 md:max-w-[720px] lg:max-w-[960px];
    .roxanatech-featured-products__content {
      // & {
      //     @apply flex-[0_0_41.666667%] max-w-[41.666667%];
      // }
      display: flex;
      flex-wrap: wrap;
      // margin: 0 16px;
      justify-content: center;
      h2 {
        margin-bottom: 0;
        margin: 0 auto;
        // color: $color-text-dark;
        // line-height: 1.3380952381;
        max-width: 468px;
        letter-spacing: -0.5px;
        margin-bottom: 15px;
        & {
          @apply text-2xl md:text-3xl font-semibold;
        }
      }
      p {
        color: $color-paragraph;
      }
    }
    .roxanatech-featured-products__detail {
    }
  }
}
